/* footer */
.wy-nav-content {
    position: relative, relative;
    background-image: url("island.svg"), url("header.png");
    background-position: bottom, top;
    background-repeat: no-repeat, no-repeat;
    background-size: 55%, 100%;
    min-height: 100vh, 100vh;
  }


/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
    background: #ffffff;
}